@font-face {
    font-family: Montsterrat;
    src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}



body {
    font-family: Montsterrat;
    padding: 0px;    
    margin: 0px;
}

.telephones {
    background-color: #474747;
    padding: 5px 10%;
    text-align: right;
}

.ph {
    text-decoration: none;
    color: aliceblue;
    

    opacity: 60%;
}

.ph:hover {
    opacity: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    height: 70px;
}

.nav-menu .list{
    display:flex;  
    padding: 10px 0px;  
}

.list li {
    padding: 10px 25px;
    text-transform: uppercase;

    font-family: Montsterrat;
    font-weight: 500;
    height: 20px;
}



.list {
    list-style-type: none;
}

.list li:not(:first-child):hover {
    /*text-decoration: underline;*/
    cursor: pointer;
    display: block;
    box-shadow: 0px 3px #42424262;
}

li:first-child:hover {
    cursor: pointer;
}

.log {
    width: 100px;
}

.line1 {    
    width: 80%;
    padding: 0px auto;
}